# Build output
/build/
build*/

# Compilation database
/compile_commands.json

# West / Zephyr scratch
*.tmp
*.bak

# Editor
.vscode/
.idea/
./.cache/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/
